<h1> <%= "Editar receita" %> </h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :image_recipe %>
    <%= f.file_field :image_recipe, multiple: true %>
    <br>
    <%= f.label :recipe_type_id %>
    <%= f.collection_select(:recipe_type_id, @recipe_type, :id, :name) %>
    <br>
    <%= f.label :cuisine_id%>
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :cuisine_name) %>
    <br>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
    <br>
    <%= f.label :cook_time %>
    <%= f.text_field :cook_time %>
    <br>
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
    <br>
    <%= f.label :cook_method %>
    <%= f.text_field :cook_method %>
    <br>
    <%= submit_tag("Enviar", class: "btn btn-dark") %>
    
<% end %>
