<h1> <%= "Enviar receita" %> </h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
    <%= f.label :image_recipe, 'Imagem' %>
    <%= f.file_field :image_recipe %>
    <%= f.label :recipe_type_id, 'Tipo da Receita' %>
    <%= f.collection_select(:recipe_type_id, RecipeType.all , :id, :name) %>
    <%= f.label :cuisine_id, 'Cozinha' %>
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :cuisine_name) %>
    <%= f.label :difficulty, 'Dificuldade' %>
    <%= f.text_field :difficulty %>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <%= f.text_field :cook_time %>
    <%= f.label :ingredients, 'Ingredientes' %>
    <%= f.text_field :ingredients %>
    <%= f.label :cook_method, 'Como Preparar' %>
    <%= f.text_field :cook_method %>
    <%= f.submit 'Enviar' %>
<% end %>

