<h1> Registrando Tipo de Cozinha </h1>

<% @cuisine.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
<%end%>
    
<%= form_for @cuisine do |f| %>
<%= f.label :cuisine_name %>
<%= f.text_field :cuisine_name %>
<%= f.submit "Enviar" %>
<% end %>