<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:error] %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

  <nav>
    <h2> CookBook </h2>

    <%= form_tag(search_path, method:  :get) do %>
      <%= label_tag(:search_title, "Buscar por:") %>
      <%= text_field_tag(:search_title) %>
      <%= submit_tag("Buscar") %>
    <% end %>

  <%= link_to 'Login', aksdnasdn_path %>
  
  </nav>




    <%= yield %>
  </body>
</html>
